{% block stylesheets %}
<link rel="stylesheet" href={{asset('styles/simple_header.css')}} type="text/css"> 
{% endblock %}

{% block header %}
<header>
    <nav class="navigation">
        <a href="{{ path("app_accueil") }}" class="">
           <p class="flow">Flow</p>
        </a>
    </nav>
</header>
{% endblock %}