{% extends 'base.html.twig' %}

{% block stylesheets %} 
<link rel="stylesheet" href="styles/login.css" type="text/css">
{% endblock %}

{% block header %}
{% include asset('headers/simple_header.html.twig') %}
{% endblock %}

{% block content%}
    <main>
        <div class="principale">
            <button id="retour" class="retour">
                <i class="icon-angle-left"></i>
                <span>Retour</span>
            </button>
            <div class="principale-texte">
                <p class="title">Connexion</p>
                <p class="subtitle">Saississez votre mot de passe pour vous connecter</p>
            </div>
            <div class="principale-form">
                <form action="" method="post" class="main-form">
                    <div class="email-edit">
                        <a href="">
                            <p>ahamadaibrahim@gmail.com</p>
                            <i class="icon-pencil"></i>
                        </a>
                    </div>
                    <div class="champ">
                        <input type="password" id="form_p" name="password" class="input_login" placeholder="" required>
                        <label for="password" class="input_label">Mot de passe</label>
                    </div>
                    <input type="submit" class="envoyer" value="Se connecter">
                </form>
            </div>
        </div>
    </main>

{% endblock %}