{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('styles/login.css')}} type="text/css">
{% endblock %}

{% block header %}
    {% include asset('headers/simple_header.html.twig') %}
{% endblock %}

{% set email = app.session.get('email') %}

{% block content%}

    <main>
        <div class="principale">
            <div class="principale-texte">
                <p class="title">Connexion</p>
                <p class="subtitle">Saississez votre mot de passe pour vous connecter</p>
            </div>
            <div class="principale-form">
                <form method="post" class="main-form">
                    <div class="champ">
                        <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                        <label for="email" class="input_label">E-mail</label>
                    </div>
                    <div class="champ">
                        <input type="password" name="password" class="input_login" placeholder="" required>
                        <label for="password" class="input_label">Mot de passe</label>
                    </div>
                    <input type="submit" class="envoyer" value="Se connecter">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <a href='{{ path('app_register') }}' }}>S'inscrire</a>
                </form>
            </div>
        </div>
    </main>

{% endblock %}

{% block footer %} {% endblock %}
