<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="css/fontello.css" type="text/css">
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="" class="">
               <p class="flow">Flow</p>
            </a>
        </nav>
    </header>
    <main>
        <div class="principale">
            <button id="retour" class="retour">
                <i class="icon-angle-left"></i>
                <span>Retour</span>
            </button>
            <div class="principale-texte">
                <p class="title">Connexion</p>
                <p class="subtitle">Saississez votre mot de passe pour vous connecter</p>
            </div>
            <div class="principale-form">
                <form action="" method="post" class="main-form">
                    <div class="email-edit">
                        <a href="">
                            <p>ahamadaibrahim@gmail.com</p>
                            <i class="icon-pencil"></i>
                        </a>
                    </div>
                    <!--- checkbox Homme Femme --->
                    <div class="choose">
                        <div>
                            <input type="radio" name="Sexe" id="Homme" value="Homme" checked="">
                        <label for="Homme">Monsieur</label>
                        </div>
                        
                        <div>
                            <input type="radio" name="Sexe" id="Femme" value="Femme">
                            <label for="Femme">Madame</label>
                        </div>
                        
                    </div>
                    <div class="champ">
                        <input type="text" id="nom" name="nom" class="input_login" placeholder="" required>
                        <label for="nom" class="input_label">Nom</label>
                    </div>
                    <div class="champ">
                        <input type="" id="prenom" name="prenom" class="input_login" placeholder="" required>
                        <label for="prenom" class="input_label">Prénom</label>
                    </div>
                    <div class="champ">
                        <input type="password" id="password1" name="password" class="input_login" placeholder="" required autocomplete="off" minlength=8>
                        <label for="password1" class="input_label">Mot de passe</label>
                    </div>
                    <div class="champ">
                        <input type="password" id="password2" name="password" class="input_login" placeholder="" required autocomplete="off">
                        <label for="password2" class="input_label">Confirmer mot de passe</label>
                    </div>
                    <input type="submit" class="envoyer" id="envoyer" value="S'inscrire">
                    <script>
                        var password1 = document.getElementById("password1");
                        var password2 = document.getElementById("password2");
                        var sendButton = document.getElementById("envoyer");
                        password2.addEventListener("input", function(){
                            if (password1.value != password2.value){
                                sendButton.disabled = true;
                            }else{
                                sendButton.disabled = false;
                            }
                        });
                    </script>
                    
                </form>
            </div>
        </div>
    </main>
</body>
</html>