{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('/styles/infos_perso.css')}} type="text/css"><link rel="stylesheet" href="/styles/interface_utilisateur.css" type="text/css">
{% endblock %}

{% block content %}
<div class="contenu">
    <div class="leftside">
        <div class="lefts">
            <a> <div class="select"> Mes infos perso </div> </a>
            <a href="/profil/historique-commandes"> <div class="not_select"> Historique transactions </div> </a>
            <a href="/profil/bons-d-achat"> <div class="not_select"> Bons d'achat </div> </a>
            <a href="/profil/support-client"> <div class="not_select"> Support client </div> </a>
        </div>
    </div>
    <div class="rightside">
        <div class="titre_categorie"> Mes infos perso </div>

        <nav class="navbar navbar-expand-lg" style="background: transparent">
            <a href="" class="nav-link">Mes coordonneés</a>
            <a href="" class="nav-link">Changer mot de passe</a>
        </nav>
        <form method="post" class="">
            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>

            <div class="champ">
                <input type="text" id="nom" name="nom" class="input_login" placeholder="" required>
                <label for="nom" class="input_label">Nom</label>
            </div>

            <div class="champ">
                <input type="text" id="prenom" name="prenom" class="input_login" placeholder="" required>
                <label for="prenom" class="input_label">Prénom</label>
            </div>

            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>

            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>
        </form>

        <form class="" method="post">
            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>
            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>
            <div class="champ">
                <input type="email" id="email" name="email" class="input_login" placeholder="" required>
                <label for="email" class="input_label">E-mail</label>
            </div>
        </form>

    </div>


</div>

<script src="{{ asset("infos_perso.js") }}" ></script>
{% endblock %}
