#content{
    display: flex;
    background-color: var(--globalback);
    z-index: 1;
    flex-direction: column;

}
.container{
    display: flex;
    max-width: 100%;
    margin: 50px 0 0 3% ;
    width: 94%;
    height: 300px;
    background-color:#d63c3c;
    color:whitesmoke;
    font-size: 5vw;
    border-radius: 20px;
    font-family: 'Inter';
    font-family: "Unica77-LL-TT",Helvetica,Arial,sans-serif;
    background-image: url(../images/background.png);
    background-position: center;
    padding:0;

}
#box_new{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.boxfleche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;

}

.flechedroite, .flechegauche{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 50%;
    background-image: url(../icones/fleche.png);
    transition:all 0.5s;
    cursor:pointer;
}
.flechedroite{
    background-image: url(../icones/fleche1.png);
}

.flechedroite:hover, .flechegauche:hover{
    transform:scale(1.1);
}

.container:not(#new1){
    display: none;
}

