#articles{
    display: flex;
    margin: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;

}
.article{
    position:relative;
    display: flex;
    box-sizing: border-box;
    width: calc(18%);
    background-color: white;
    aspect-ratio: 414/512;
    border-radius: 10px;
    transition:all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    border:1px solid white;
    box-shadow: 0px 0px 5px rgb(160, 160, 160);
    padding: 20px;
    min-height:265px;
    min-width:215px;
}
.article:hover{
    border: solid 1px black;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(160, 160, 160);
}
.lien{
    display:flex;
    width:100%;
    height:100%;
    text-decoration:none;
    color:var(--couleursecondaire);
}

.partie_article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    align-items: center;
}

.prix_favoris{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    min-height: 53px;

}
.prix{
    background-color:var(--couleurprincipalefondu);
    height: 30px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favoris_article{
    padding:30px;
    display:flex;
    position:relative;
    z-index:5;
    left:-50px;

    border:none;
    background: none;
    width: 53px;
    height: 53px;
    background-image: url('../icones/heart.svg');
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s;
}
.favoris_article:hover{
    transform:scale(1.1) ;
}
.favoris_article.clicked{
    background-image: url('../icones/heartfilled.svg');
    animation: pulse 0.5s ease-in-out;
    transition: all 0.5s;
}
@keyframes pulse {
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
.image_article{
    display: flex;
    justify-content: center;
    height: 60%;
}
.desc_article{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    text-align: center;
}