body {
    background-color: white;
    margin: 0px;
}

.contenu{
    display: grid;
    background-color: white;
    grid-template-columns: 427px 1fr;
}

.lefts{
    padding-left : 37px;
    padding-right: 37px;
    padding-top: 83px;
    padding-bottom: 90px;
}

.lefts div {
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.select{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

.rightside {
    background-color: #F4F4F4;
    padding-bottom: 90px;
}

.leftside a{
    text-decoration: none;
    color: inherit;
}

button{
    text-decoration: none;
    color: inherit;
}

.lefts div:hover {
    background-color: #3563E9;
    color: white;
}