{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('styles/accueil.css')}} type="text/css">
<link rel="stylesheet" href={{asset('styles/article.css')}} type="text/css">
{% endblock %}

{% block header %}
{% include asset('headers/header_search.html.twig') %}
{% endblock %}

{% block content %}
{% if (app.user) %}
    {% if 'admin' in user.roles %}
        <a href="{{ path("app_admin") }}" class="btn btn-outline-primary login">Page admin</a>
    {% endif %}
{% endif %} 

<div id="content">
    <div class="container" id="new1">
        <div class="boxfleche"><a class="flechegauche" id="1"></a></div>
        <div id="box_new">SOLDES</div>
        <div class="boxfleche"><a class="flechedroite" id="2"></a></div>
    </div>

    <div class="container" id="new2">
            <div class="boxfleche"><a class="flechegauche" id="3"></a></div>
            <div id="box_new">Nouveau produit</div>
            <div class="boxfleche"><a class="flechedroite" id="4"></a></div>
    </div>

    <div class="container" id="new3">
                <div class="boxfleche"><a class="flechegauche" id="5"></a></div>
                <div id="box_new">Wow</div>
                <div class="boxfleche"><a class="flechedroite" id="6"></a></div>
        </div>

    <div id="articles">
        {% if articles|length==0 %}
            <h1> Aucun résultat :/ </h1>
        {% else %}
            {% if user!=null %}
                {% for article in articles%}
                    {% include asset('article.html.twig') with favoris%}
                {% endfor %}
            {% else %}
                {% for article in articles%}
                {% include asset('article.html.twig')%}
                {% endfor %}
            {% endif %}
        {% endif %}
        
       
    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="{{ asset("/scripts/accueil.js") }}" ></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var heartElements = document.getElementsByClassName('favoris_article');

        for (var i = 0; i < heartElements.length; i++) {
            heartElements[i].addEventListener('click', function() {
                this.classList.toggle('clicked');
            });
        }});
    function redirectToPage(url) {
        window.location.href = url;
    }
</script>
{% endblock %}