<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href={{ asset('/styles/global.css')}} type="text/css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block header %}
        {% include asset('headers/header.html.twig') %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
        {% include asset('footer.html.twig')%}
        {% endblock %}

        {% block scripts %}{% endblock %}
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        function afficherBoiteDialogue(type, message) {
            Swal.fire({
                icon: type,
                title: type.charAt(0).toUpperCase() + type.slice(1),
                text: message,
            })
        }
        {% for type, flashMessages in app.session.flashBag.all() %}
        {% for flashMessage in flashMessages %}
        afficherBoiteDialogue('{{ type }}', '{{ flashMessage|e('js') }}')
        {% endfor %}
        {% endfor %}
    </script>
</html>
