{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('styles/favoris.css')}} type="text/css">
{% endblock %}

{% block header %}
{% include asset('headers/header.html.twig') %}
{% endblock %}

{% block content %}
<div id="content">

    <div id="text_fav">Favoris</div>
    <div id="favoris">
            {% if favoris|length==0 %}
                <h1> Vous n'avez pas encore de favoris :/ </h1>
            {% else %}
        <div id="articles">
            {% for article in favoris%}
            {% include asset('article_favoris.html.twig')%}
            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

{% block scripts%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var heartElements = document.getElementsByClassName('favoris_article');

        for (var i = 0; i < heartElements.length; i++) {
            heartElements[i].addEventListener('click', function() {
                this.classList.toggle('clicked');
            });
        }});
    function redirectToPage(url) {
            window.location.href = url;
    }
</script>
{% endblock %}