{% block stylesheets%}
<link rel="stylesheet" href={{asset('styles/footer.css')}} type="text/css"> 
{% endblock %}

{% block footer %}
<footer>
    <div id="footer-texts">
        <div class="footer-section">
            <h1> À PROPOS </h1>
            <a href=""> Conditions générales de la Marketplace </a>
            <a href=""> Conditions générales de ventes </a>
            <a href=""> Conditions générales d'utilisation du compte </a>
            <a href=""> Données personnelles </a>
            <a href=""> Mentions légales </a>
            <a href=""> Digital Service Act </a>
            <a href=""> Rappels produits </a>
            <a href=""> Notifier un contenu illicite </a>
            <a href=""> Cookies </a>
            <a href=""> Conditions de publication des avis </a>
            <a href=""> Avis Flow </a>
            <a href=""> Voir critères de classement </a>
        </div>

        <div class="footer-section">
            <h1> AIDE, SAV & SERVICES </h1>
            <a href=""> Une question ? </a>
            <a href=""> Contactez-nous ! </a>
            <a href=""> Services Flow </a>
            <a href=""> Cartes cadeaux FLOW </a>
            <a href=""> Affiliation </a>
            <a href=""> Devenez franchisé FLOW </a>
            <a href=""> Publicité </a>
            <a href=""> Sécurité </a>
            <a href=""> Google assistant </a>
        </div>

        <div class="footer-section">
            <h1> LE GROUPE FLOW </h1>
            <a href="">Qui sommes nous ?</a>
            <a href="">Recrutement</a>
            <a href="">Développement durable</a>
            <a href="">Groupe FLOW</a>
        </div>
    </div>
</footer>
{% endblock %}