/* Rightside */

.rightside{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 60px;
    gap: 60px;
}

.rightside form{
    position: relative;
    width: 75%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    padding: 60px 20px 60px 60px;
}

.rightside nav{
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.rightside nav a{
    padding-bottom: 10px;
    transition: .2s ease-in;
}

.rightside nav a:hover{
    border-bottom: 1px solid black;
}


.titre_categorie{
    font-family: sans-serif;
    font-size: 32px;
}


/* Profil - informations personnelles */
.champ{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    line-height: 1.4    ;
}

.input_login{
    position: relative;
    z-index: 1;
    border: 0px;
    border-bottom: 1px solid #d8d8d8;
    padding: 7px 15px 2px 0px;
    line-height: 2  ;
}

.input_login:focus{
    outline: none;
}

.input_label{
    font-size: 1.2em;
    position: absolute;
    z-index: 5;
    top: 5px;
    color: #888888;
    transition: .2s ease;
}

.input_label{
    pointer-events: none;
}

.input_login:not(:placeholder-shown) + .input_label,
.input_login:focus-visible + .input_label{
    position: absolute;
    top: -10px;
    font-size: 1em;

}

.choose{
    display: flex;
    gap: 64px;
}

/* bouton */

.valider{
    margin-top:60px;
    align-self: flex-start;
    width: fit-content;
    transition: .2s ease-in-out
}

/* nom-prenom */

.nom-prenom{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 75%;
}

.nom-prenom .champ{
    width: 50%;
}