
body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* header de la page */

header{
    display: block;
    position: absolute;
    padding: 0;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: 50;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 1px 1px #d8d8d8;
    overflow: hidden;
}

.navigation{
    max-width: 1600px;
    padding: 10px 20px;
    margin: 0 auto;
}



nav{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-family: "Bird", sans-serif;
    font-size: 4em;
    line-height: 150%;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}



.flow::first-letter{
    color: #3563e9;
}

.flow{
    color: #000;
    padding: 0%;
    margin: 0%;
}

/* main */

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    line-height: 1.5;
}

.principale{
    position: relative;
    width: 65%;
    padding: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    margin: 2em;
}

/* Titles */

.principale-texte{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}

.title{
    font-size: 1.6em;
    font-weight: bold;
}

.subtitle{
    color: #5f5f5f;
    font-size: 1em;
}

/* Checkbox */

.choose{
    display: flex;
    gap: 64px;
}


/* Form */

.principale-form{
    display: flex;
    width: 480px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 100%;
    margin-top: 1.5rem;
}

.email-edit a{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #989898;
}


.champ{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    line-height: 1.4    ;
}

.input_login{
    position: relative;
    z-index: 1;
    border: 0px;
    border-bottom: 1px solid #d8d8d8;
    padding: 7px 15px 2px 0px;
    line-height: 1.5;
}

.input_login:focus{
    outline: none;
}

.input_label{
    font-size: 0.85em;
    position: absolute;
    z-index: 5;
    top: 5px;
    color: #888888;
    transition: .2s ease;
}

.input_label{
    pointer-events: none;
}

.input_login:not(:placeholder-shown) + .input_label,
.input_login:focus-visible + .input_label{
    position: absolute;
    top: -6px;
    font-size: 0.70em;
    
}


/* Button */

button, input[type="submit"]{
    cursor: pointer;
}
.retour::before{
    display: none;
    content: "";
}


.retour{ 
    position: absolute;
    left: 60px;
    display: flex;
    color: #4e4e4e;
    font-size: 1em;
    font-family: sans-serif;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border: none;
    width: auto;
    background: none;
    gap: 10px;
}

.envoyer{
    width: 75%;
    color: white;
    background-color: #3563e9;
    border: none;
    font-size: 0.85em;
    padding: 15px;
    border-radius: 5px;
}

.envoyer:focus{
    background-color: #1b1bfd;
}

.envoyer:hover{
    background-color: #436ef8;
}

.envoyer:disabled{
    background-color: #8f8ff8;
}

/* icon */

.icon-angle-left{
    font-size: 24px;
}

.icon-pencil{
    transition: 0.3s ease-in;
}
.icon-pencil:hover{
    color: #454545;
}