{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('styles/accueil.css')}} type="text/css">
<link rel="stylesheet" href={{asset('styles/article.css')}} type="text/css">
{% endblock %}

{% block content %}
<div id="content">
    <div id="solde">
        <div class="boxfleche"><a class="fleche"></a></div>
        <div id="boxsolde">SOLDES</div>
        <div class="boxfleche"><a class="fleche" id="flechedroite"></a></div>
    </div>
    <div id="articles">
        {% for article in articles%}
        {% include asset('article.html.twig')%}
        {% endfor %}
        
       
    </div>
</div>
{% endblock %}

{% block scripts%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var heartElements = document.getElementsByClassName('favoris_article');
    
        for (var i = 0; i < heartElements.length; i++) {
            heartElements[i].addEventListener('click', function() {
                this.classList.toggle('clicked');
            });
        }});
</script>
{% endblock %}