<div class="article">
    <div class="partie_article">
        <div class="prix_favoris">
            <div class="prix"> {{ article.prix }} €</div>
            <a href="{{ path('accueil_add_favoris', {'article_id' : article.id}) }}" id="heart" class="favoris_article"></a>
        </div>
        <img class="image_article" src="images/{{ article.image }}">
        <div class="desc_article"> {{ article.nom }} </div>
    </div>
</div>
