<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="images/logo.png">
        <link rel="stylesheet" href="styles/global.css" type="text/css">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block header %}
        {% include asset('headers/header.html.twig') %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
        {% include asset('footer.html.twig')%}
        {% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>
