<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/produit.css">
    <title>Produit</title>
</head>
<body>
    <!-- Header -->
    <header>

    </header>
    <!-- Main -->

    <main>
         <div class="principale">
            <div class="container">
                <div class="produit-images">
                    <img src="images/image 5.png" alt="">
                </div>
                <div class="produit-options">
                    <form action="" method="post" class="form-options">
                        <div class="informations">
                            <a href=""  class="marque-vetement">Abidas</a>
                            <p class="type-vetement">Pull en polystyrène</p>
                            <p class="prix-vetement">64.99€</p>
                        </div>
                        <div class="taille-option">
                            <label for="taille">Taille</label>
                            <div class="option-select">
                                <select name="Taille" id="taille" required>
                                    <option value="" disabled selected>Choississez votre taille</option>
                                    <option value="Test">Option 1</option>
                                    <option value="Test2">Option 2</option>
                                    <option value="Test3">Option 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="couleur-option">
                            <label for="couleur">Couleur</label>
                            <div class="option-select">
                                <select name="couleur" id="couleur" required>
                                    <option value="" disabled selected>Choississez votre couleur</option>
                                    <option value="Test">Option 1</option>
                                    <option value="Test2">Option 2</option>
                                    <option value="Test3">Option 4</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="ajouter">Ajouter au panier</button>
                    </form>
                </div>
            </div>
         </div>
    </main>

    <!-- Footer -->
</body>
</html>